@model IEnumerable<educ_system.Models.Type>

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-bottom: 25px">
    <div class="col">
        <h1>All course types</h1>
        <p>
            <a asp-action="Create"><button type="button" class="btn btn-success">Create New</button></a>
        </p>
    </div>
    
    <div class="col">
        <h4>Select exel-file to upload</h4>
        @using (Html.BeginForm("Import", "Types", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
        {
            <div style="margin-bottom: 25px">
                Upload Excel-file:
                <input type="file" name="fileExcel" id="fileExcel" />
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </div>
        }
        <h4>Download information in file</h4>
        <a asp-action="Export" ><button type="button" class="btn btn-info">Download</button></a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (Model.Select(obj => obj.Info) != null)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-light">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Charts/JsonDataTypes', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Proportion between amount of courses and types",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
